body{
    margin: 0px;
font-family: Arial, Helvetica, sans-serif;
}
ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; 
    line-height:36px;
    background: rgb(0,41,107);
    background: linear-gradient(
        45deg
        , rgb(255 213 0) 0%, rgb(253 197 0) 49%, rgb(253 197 0) 100%);
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.1em;
}
ul.nav li {
    border-right:1px rgb(253 197 0); /* you can change the border color matching to your background color */
    float:left;
}
ul.nav a {
    display:block;
    padding:0 28px;
    color:#00509d;
    text-decoration:none;
}
ul.nav a:hover,
ul.nav li.current a {
    background:#00509d;
    color:ghostwhite;
}

.container{
    padding: 8px;
    background: #003f88;
    color: ghostwhite;
    padding: 2em;
}
.fa {
    padding: 20px;
    font-size: 5em!important;  
    text-align: center;
    text-decoration: none;
  
}

.fa:hover {
    opacity: 0.7;
}
.container2{
    padding: 8px;
    background:#00509d;
    color:ghostwhite;;
}
.footer{
    padding: 8px;
    background: rgb(253,197,0);
    background: linear-gradient(45deg, rgba(253,197,0,1) 0%, rgba(255,213,0,1) 100%);
    color:ghostwhite;
    text-align: center;
}
.intro-page .column-half {
    float: left;
    width: 50%;
    height: 460px;
}
.intro-page img {
    height: 100%;
    width: auto;
    margin-left: -18%;
    padding-top: 1em;
}
.intro-page h1 {
    color: aliceblue;
    margin: 44px 11%;
    font-size: 2.5em;
}
h3 {
    color: aliceblue;
    margin: 13px 12%;
}
.column-half {
    float: left;
    width: 50%;
  }
  
.column {
    float: left;
    width: 27.33%;
    margin: 3%;
    height: 240px;
   
border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
-webkit-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -2px rgba(0,0,0,0.75);

}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row h2 {
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    border: 0px solid #000000;
    background-color: aliceblue;
    padding: 12px;
    margin: 0px;
    
    border-bottom: solid 7px #ffa5009e;
}
.row p {
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
}
.row a {
    text-align: center;
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
}

  .center{
      text-align: center;
  }
  .fa {
    
    
    color: white;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  @media screen and (max-width: 600px) {
    .column {
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        margin-bottom: 1em;
    }
    .row h2{
        border-radius:0px;
        -moz-border-radius:0px;
        -webkit-border-radius: 0px; 
        
    }
  }